<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.2.7-alpha-00002" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
</packages>